@model NN.DiscoWarrantyPlugin.ViewModels.ConfigurationModel
<h2>Network Neighbourhood Warranty Plugin</h2>
<img src="http://www.nn.net.au/images/website/NNLogo.png" alt="NN" /> 
<h3>This plugin doesn't require any configuration. Contact details are supplied by Active Directory.</h3>