@model Disco.Services.Plugins.NN.ViewModels.JobDetailsViewModel
<div id="NNWarrantyProviderJobDetails">
   
    
    
        <table>
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <span class="smallMessage">Warranty has been logged with Network Neighborhood.</span>
                </td>
                <td rowspan="3" style="width: 300px;">
                    <div style="text-align: center; padding-top: 10px;">
                        <a href="http://www.nn.net.au" target="_blank">
                          <img src="http://www.nn.net.au/images/website/NNLogo.png" alt="NN" /> 
                        </a>
                    </div>
                </td>
            </tr>
        </table>
   
</div>
