@model Disco.Services.Plugins.NN.ViewModels.ConfigurationModel
@*
Introduction to ASP.NET Web Programming Using the Razor Syntax (C#):
http://www.asp.net/web-pages/tutorials/basics/2-introduction-to-asp-net-web-programming-using-the-razor-syntax

This Razor file is pre-compiled by installing the 'Razor Generator' extension into
Visual Studio, and then setting the 'Custom Tool' property of this file to 'RazorGenerator'

Razor Generator:
http://visualstudiogallery.msdn.microsoft.com/1f6ec6ff-e89b-4c47-8e79-d2d68df894ec/
*@
<h2>Network Neighbourhood Warranty Plugin</h2>
<img src="http://www.nn.net.au/images/website/NNLogo.png" alt="NN" /> 
<h3>This plugin doesn't require any configuration. Contact details are supplied by Active Directory.</h3>

